@page
@model AsignaSalones.App.Frontend.Pages.SedesUniversidadModel
@{
}
<h1>Lista de Sedes Universidad</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Salones Disponibles</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var sedeUniversidad in Model.SedesUniversidad)
    {
        <tr>
            <td>@sedeUniversidad.nombre</td>
            <td>@sedeUniversidad.numeroSalonesDispHora</td>
            @*Detalles*@
            <td>
                <a class="btn btn-primary table-btn" data-toggle="tooltip" title="Detalles" asp-page="./DetalleSedeUniversidad" asp-route-sedeUniversidadid="@sedeUniversidad.id">
                    <i class="fas fa-info-circle" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-warning table-btn" data-toggle="tooltip" title="Editar" asp-page="./EditarSedeUniversidad" asp-route-sedeUniversidadid="@sedeUniversidad.id">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-danger table-btn" data-toggle="tooltip" title="Eliminar" asp-page="./EliminarSedeuniversidad" asp-route-sedeUniversidadid="@sedeUniversidad.id">
                    <i class="fas fa-book-dead fa-lg" aria-hidden="true"></i>
                </a>
            </td>            
        </tr>
    }

</tbody>

</table>
<a asp-page=".\EditarSedeUniversidad" class="btn btn-primary">Adicionar Sede Universidad</a>
