@page
@model AsignaSalones.App.Frontend.Pages.ContagiadosModel
@{
}
<h1>Lista de Contagiados</h1>
<table class="table">
    @foreach (var contagiado in Model.Contagiados)
    {
        <tr>
            <td>@contagiado.nombre</td>
            <td>@contagiado.apellidos</td>
            <td>@contagiado.fechaContagio</td>
            <td>@contagiado.sintomas</td>
            <td>@contagiado.periodoAislamiento</td>
            @*Detalles*@
        </tr>
    }



</table